# Удаляем папку виртуального окружения
venv/
env/
ENV/
.venv/
# Системные файлы
*.pyc
*.pyo
*.pyd
__pycache__/
# Файлы конфигурации IDE
*.DS_Store
*.idea/
*.vscode/
# Логи и временные файлы
*.log
*.pot
*.py[co]
# Файлы базы данных
db.sqlite3

# Файлы конфигурации Django
*.sqlite3
*.env