{% extends 'dogs/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                {% if object %}
                    Редактирование собаки
                {% else %}
                    Добавление собаки
                {% endif %}
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">
                    {% if object %}
                        Сохранить
                    {% else %}
                        Добавить
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}